body{
    text-align: center;
}
#main{
    margin: auto;
    width:75%;
}
.col{
    width: 40%;
    display: inline-block;
}
img, canvas{
    max-width: 100%;
    height: auto;
}
#form{
    width: 300px;
    margin: auto;
    padding: 20px 0;
}
#form label,
#form .input-box,
#form button{
    display: inline-block;
    box-sizing:border-box;
}
#form .field{
    text-align: left;
}
#form label{
    width: 75%;
    padding: 5px 10px;
}
#form .input-box{
    width: 25%;
    padding: 5px 2px 5px 10px;
}
footer{
    font-size: 75%;
    padding: 20px 0;
}